<p id="notice"><%= notice %></p>



<body>
<div class="flex">
  <div class="sidebar" id="center">
  <h2>マイアカウント</h2>
  <p>アカウントの情報</p>
  <%= link_to 'New Tweet', new_tweet_path%>
  <br>
  <%= link_to "ログアウト", logout_path, method: :delete %>
  </div>

  <div class="timeline">
  <h2 id="center">タイムライン</h2>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>みんなのツイート</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.user_id %></td>
            <td><%= link_to tweet.tweet, tweet %></td>
            <% if tweet.user_id == @user.id %>
              <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
              <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <td><%= link_to "like",tweet, method: :post%></td>
            <td><img src="/assets/heart_white.png" width="30" height="30" onclick="this.src='/assets/heart_red.png'"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <br>
</div>
</body>

