<p id="notice"><%= notice %></p>



<body>
<div class="flex">
  <div class="sidebar" id="center">
  <h2>マイアカウント</h2>
  <p>アカウントの情報</p>
  <%= link_to 'New Tweet', new_tweet_path%>
  <br>
  <%= link_to "ログアウト", logout_path, method: :delete %>
  </div>


<script>
  var pics_src = new Array("/assets/heart_white.png","/assets/heart_red.png");
  var num = 0;

function slideshow(id,num){
    if (num == "true") {
        num = "false";
        document.getElementById(id).src="/assets/heart_white.png";
    }
    else {
        num ="true";
        document.getElementById(id).src="/assets/heart_red.png";
    }
    
}
function func1(id){
  const elements = document.getElementsByName(id);

      
  if (elements[0].checked){
    document.getElementById(id).src="/assets/heart_red.png";
  }
  else {
      document.getElementById(id).src="/assets/heart_white.png";
  }
      
}
</script>

  <div class="timeline">
  <h2 id="center">タイムライン</h2>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>みんなのツイート</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.user_id %></td>
            <td><%= link_to tweet.letter, tweet %></td>
            <% if tweet.user_id == @user.id %>
              <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
              <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

            
            
            <td><label><input type="checkbox" name="<%= tweet.id %>" onclick="func1(name)" hidden><img id="<%= tweet.id %>" src="/assets/heart_white.png" width="30" height="30"></label></td>


            
            <td id="<%= dom_id tweet %>">
          <%= render 'likes/like_button', tweet: tweet%>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <br>
</div>
</body>

