<p id="notice"><%= notice %></p>

<% if @tweet.origintweet != nil%>
<%= link_to @tweet.origintweet.user.name , @tweet.origintweet.user%>
<%= link_to @tweet.origintweet.letter , @tweet.origintweet%>


<%end%>


<p id=textLittleBig>
  <%= link_to @tweet.user.name , @tweet.user%>
</p>

<p id=textbig>
  <%= @tweet.letter %>
</p>
 <div id="likes_buttons_<%= @tweet.id %>">
    <%= render partial: 'likes/like', locals: { tweet: @tweet} %>
</div>

  <!--<%= @tweet.replys.count%>-->
  <% @tweet.replys.each do |reply| %>
  <table>
    <%= render 'letter', tweet: reply %>
  </table>
  <%end%>


  <%= render 'replyfrom', {tweet: Tweet.new , origin: @tweet}%>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Back', tweets_path %>