
<h2><span id="textbig"><%= @user.name%></span>
  <font color="gray"> ID:<%=@user.id%></font>
  </p>
</h2>

<% if current_user == @user %>
<form name="form1" id="id_form1" action="">
    <div id="output"></div>
    <p id="first_text"><%= @user.comment %></p>
    <div id="id_textBox1" style="display:none"></div>
    


    <%# <input type="button" id="profile" value="変更" onclick="onButtonClick();" /> %>
    
    <%= link_to 'Edit', edit_user_path(@user) %> 

  
    
    


</form>




<% else%>
<% user = @user%>
<div id="follows_buttons_<%=user.id%>">
  <%= render partial: 'relationships/follow', locals:{user: user} %>
</div>
<%end%>

<script type="text/javascript" language="javascript">
function onButtonClick() {
	if(document.getElementById("id_textBox1").style.display=="block"){
		document.getElementById("id_textBox1").style="display:none";
    // target = document.getElementById("output");
    // target.innerText = document.forms.id_form1.id_textBox1.value;
    // console.log(document.forms.id_form1.id_textBox1.value)
    document.getElementById("profile").value ="変更";
    document.getElementById("output").style="display:block";
	}else{
		document.getElementById("id_textBox1").style ="display:block";
    document.getElementById("profile").style ="display:none";
    document.getElementById("first_text").style="display:none";
    document.getElementById("output").style="display:none";
	}
}

</script>


<body>
  <div class="area">
    <input id="tab1" type="radio" name="tab_name" checked>
    <label class="tab_class" for="tab1">ツイート</label>
    <div class="content_class">
      <table>
        <tbody>
          <% @tweets.each do |tweet| %>
          <tr>
            <td><%= link_to tweet.letter, tweet %></td>
            <% if tweet.user_id == @user.id %>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <td>
            <div id="likes_buttons_<%= tweet.id %>">
              <%= render partial: 'likes/like', locals: { tweet: tweet} %>
            </div>
          </td>
          <% end %>
        </tbody>
      </table>
    </div>
    <input id="tab2" type="radio" name="tab_name">
    <label class="tab_class" for="tab2">いいね</label>
    <div class="content_class">
      <table>
        <tbody>
          <% if @like_tweets == []%>
          <tr>
            <td>ここにいいねした一覧が表示されます</td>
          </tr>
          <%else%>
          <% @like_tweets.each do |tweet| %>
          <tr>
            <td><%= link_to tweet.letter, tweet %></td>
            <% if tweet.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            <td>
              <div id="likes_buttons_<%= tweet.id %>">
                <%= render partial: 'likes/like', locals: { tweet: tweet} %>
              </div>
            </td>
          </tr>
          <% end %>
          <%end%>
        </tbody>

      </table>
    </div>
  </div>
</body>